.GaugeMeter{
	Position:        Relative;
	Text-Align:      Center;
	Overflow:        Hidden;
	Cursor:          Default;
}

.GaugeMeter SPAN,
    .GaugeMeter B{
    	Margin:          0 23%;
    	Width:           54%;
    	Position:        Absolute;
    	Text-align:      Center;
    	Display:         Inline-Block;
    	Color:           RGBa(0,0,0,.8);
    	Font-Weight:     100;
    	Font-Family:     "Open Sans", Arial;
    	Overflow:        Hidden;
    	White-Space:     NoWrap;
    	Text-Overflow:   Ellipsis;
}
.GaugeMeter[data-style="Semi"] B{
	Margin:          0 10%;
	Width:           80%;
}

.GaugeMeter S,
    .GaugeMeter U{
    	Text-Decoration: None;
    	Font-Size:       .5em;
    	Opacity:         .5;
}

.GaugeMeter B{
	Color:           Black;
	Font-Weight:     300;
	Font-Size:       .5em;
	Opacity:         .8;
}

/* Body */

body::after {
	content: "";
	background: url(../src/img/cerdologo.webp);
	opacity: 0.4;
	background-position: 0%;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
  }           


  /* Circle Light */
  /* .circle {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #000;

	position: relative;
	overflow: hidden;
	border: 5px solid #1a1a1a;
  }
  .circle2 {
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #000;

	position: relative;
	overflow: hidden;
	border: 5px solid #1a1a1a;
  }

  .circle::after{
	content: "";
	position: absolute;
	top: 9%;
	width: 200%;
	height: 200%;
	left: -50%;

	background: rgba(102, 147, 243, 0.562);
	box-shadow: 0 0 20px #5774d4;

	border-radius: 40%;
	animation: rotate 10s linear forwards infinite;

  }
  .circle2::after{
	content: "";
	position: absolute;
	top: 93%;
	width: 200%;
	height: 200%;
	left: -50%;

	background: rgba(102, 147, 243, 0.562);
	box-shadow: 0 0 20px #5774d4;

	border-radius: 40%;
	animation: rotate 10s linear forwards infinite;

  }

  @keyframes rotate{
	to{
		transform: rotate(360deg);
	}
  } */